{% extends 'document_processor/base.html' %}
{% block content %}
<div class="d-flex justify-content-between"><h3>Extraction Rules</h3><a class="btn btn-primary" href="{% url 'document_processor:admin-rule-create' %}">New Rule</a></div>
<table class="table mt-3"><tr><th>Template Type</th><th>Rule Type</th><th>Source</th><th>Target</th><th>Priority</th><th>Enabled</th><th></th></tr>
{% for obj in object_list %}
<tr><td>{{ obj.template_type }}</td><td>{{ obj.rule_type }}</td><td>{{ obj.source_key }}</td><td>{{ obj.target_field }}</td><td>{{ obj.priority }}</td><td>{{ obj.is_enabled }}</td><td><a class="btn btn-sm btn-outline-secondary" href="{% url 'document_processor:admin-rule-edit' obj.id %}">Edit</a></td></tr>
{% endfor %}
</table>
{% endblock %}
