{% extends 'document_processor/base.html' %}
{% block content %}
<h3>Verify Extracted Fields</h3>
<form method="post" class="card card-body">
  {% csrf_token %}
  <div class="row g-3">
    {% for field in fields %}
      <div class="col-md-6">
        <label class="form-label">{{ field.field_name }}</label>
        <input class="form-control" type="text" name="field_{{ field.id }}" value="{{ field.extracted_value }}">
      </div>
    {% endfor %}
  </div>
  <button class="btn btn-success mt-3">Confirm & Generate</button>
</form>
{% endblock %}
